.ticketList {
    list-style-type: none;
    padding: 0;
}
.spin {
    margin-bottom: 20px;
}
.ticketList__notification {
    margin-left: 15px;
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border: #9abbce solid;
    border-radius: 3px;
}