button {
    width: 150px;
    height: 40px;
    background-color: white;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #4a4a4a;
}

li:nth-child(1) > .tab__item {
    border-radius: 5px 0 0 5px;
}
li:nth-child(2) > .tab__item {
    margin-left: -4px;
    border-radius: 0 0 0 0;
}
li:nth-child(3) > .tab__item {
    margin-left: -4px;
    border-radius: 5px 5px 5px 5px;
}
li:nth-child(1) > .tab__item__checked {
    background-color: #2196f3;
    color: white;
    border-radius: 5px 0 0 5px;
}
li:nth-child(2) > .tab__item__checked {
    background-color: #2196f3;
    color: white;
    border-radius: 0 5px 5px 0;
}
li:nth-child(3) > .tab__item__checked {
    background-color: #2196f3;
    color: white;
    border-radius: 0 5px 5px 0;
}
@media (min-width: 442px) {
    .tab {
        flex-wrap: wrap;
    }
    li:nth-child(1) > .tab__item {
        margin-left: -4px;
    }
    li:nth-child(3) > .tab__item {
        margin-left: -4px;
        border-radius: 0 5px 5px 0;
    }
}
@media (min-width: 768px) {
    .tab {
        margin-left: 15px;
    }
}
@media (max-width: 442px) {
    .tab {
        flex-wrap: wrap;
    }
    li:nth-child(2) > .tab__item {
        border-radius: 0 5px 5px 0;
    }
    li:nth-child(3) > .tab__item {
        margin-left: -4px;
        border-radius: 5px 5px 5px 5px;
    }
    li:nth-child(3) > .tab__item__checked {
        background-color: #2196f3;
        color: white;
        border-radius: 5px 5px 5px 5px;
    }
}